@model TopLearn.Data.Entities.User.User

<div style="direction: rtl; align-content: center; border: 1px solid orange;font-family:sans-serif">
    <h1>کاربر عزیز @Model.UserName !</h1>
    <p>حساب کاربری شما با موفقیت ایجاد شد برای فعالسازی حساب کاربری خود میبایست روی لینک فعالسازی زیر کلیک نمایید <br/> باتشکر تاپلرن</p>
    <a style="border:1px dashed moccasin" href="http://localhost:46358/ActiveAccount/@Model.ActiveCode">لینک فعالسازی</a>
</div>