@model TopLearn.Data.Entities.User.User

<div style="direction: rtl; align-content: center; border: 1px solid orange;font-family:sans-serif">
    <h1>@Model.UserName عزیز!</h1>
    <p>برای بازیابی رمز عبور خود میبایست روی لینک زیر کلیک نمایید</p>
    <a style="border:1px dashed moccasin" href="http://localhost:46358/ChangePassword/@Model.ActiveCode">لینک بازیابی</a>
</div>