@model ResetPasswordViewModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
}



<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page"> تغییر رمز عبور </li>
        </ul>
    </nav>
</div>

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <partial name="_SideBar" />
                <form asp-action="EditProfile" method="post" enctype="multipart/form-data">
                    <div class="col-md-9">
                        <section class="user-account-content">
                            @if (ViewBag.IsPasswordChanged == true)
                            {
                                <div class="alert alert-success">
                                    رمز عبور شما با موفقیت تغییر یافت
                                </div>
                            }
                            <header>
                                <h1> تغییر رمز عبور </h1></header>
                            <div class="inner">
                                <div class="input-group">
                                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-key"></i></span>
                                    <input asp-for="CurrentPassword" type="password" class="form-control" placeholder="رمز عبور فعلی" readonly aria-describedby="email-address">
                                </div>
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                <div class="input-group">
                                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-lock"></i></span>
                                    <input asp-for="NewPassword" type="password" class="form-control" placeholder="رمز عبور جدید" readonly aria-describedby="email-address">
                                </div>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                                <div class="input-group">
                                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-lock"></i></span>
                                    <input asp-for="ReNewPassword" type="password" class="form-control" placeholder="تکرار رمز عبور جدید" readonly aria-describedby="email-address">
                                </div>
                                <span asp-validation-for="ReNewPassword" class="text-danger"></span>
                                <div>
                                    <button class="btn btn-success"> تایید و ویرایش </button>
                                </div>

                            </div>
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>