@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}


<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">تغییر رمز عبور</li>
        </ul>
    </nav>
</div>

@if (ViewBag.IsExpierd == true)
{
    <div class="alert alert-danger">
        کاربر گرامی مهلت استفاده از این لینک به پایان رسیده است
    </div>
}
else
{
    <main class="client-page">
        <div class="container-content">
            @if (ViewBag.IsChanged == true)
            {
                <div class="alert alert-success">
                    رمز عبور شما با موفقیت تغییر یافت در حال انتقال به صفحه ورود...
                </div>
                <script>
                    // Your delay in milliseconds
                    var delay = 3000;
                    setTimeout(function () { window.location = "http://localhost:46358/Login"; }, delay);
                </script>
            }
            <header>
                <h2> تغییر رمز عبور </h2></header>

            <div class="form-layer">

                <form asp-action="ChangePassword" method="post">
                    <input type="hidden" asp-for="ActiveCode"/>
                    <div class="input-group">
                        <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-key"></i></span>
                        <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور" aria-describedby="email-address">
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="input-group">
                        <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-key"></i></span>
                        <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار رمز عبور" aria-describedby="email-address">
                    </div>
                    <span asp-validation-for="RePassword" class="text-danger"></span>
                    <hr/>
                    <button class="btn btn-success"> تایید </button>

                </form>
            </div>

        </div>
    </main>

}


