@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">فراموشی رمز عبور</li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">
        @if (ViewBag.IsEmailSent == true)
        {
            <div class="alert alert-success">
                ایمیل بازیابی با موفقیت ارسال شد
            </div>
        }
        <header><h2> فراموشی رمز عبور </h2></header>

        <div class="form-layer">

            <form asp-action="ForgotPassword" method="post">

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" type="text" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
                <hr/>
                <button class="btn btn-success"> ارسال ایمیل بازیابی </button>

            </form>
        </div>

    </div>
</main>

